*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
:root{
    --x: 10px;
}

/*header*/
.header{
    background-color: black;
    color: white;
}

h1.subject{
    text-transform: uppercase;
    text-shadow: 3px 2px 2px whitesmoke;
}
.header>ul>li{
    list-style-type: none;
    padding: var(--x);
    padding: 1rem;
    font-size: 1.5rem;
    margin-right: 1rem;
}
.header>ul>li:hover{
    background-color: darkgray;
}

.notice{
    list-style-type: square;
    display: none;  
    margin-top: 1%; 
}
.notice::after{
    content: "";
    border-width: 10px;
    border-style: solid;
    border-color:  transparent transparent black transparent ;
    position: absolute;
    right: 18%;
    bottom: 100%;
}

.notices:hover .notice{
    display: block;
    background-color: black;
    position: absolute;
    right: 1%;
}

.userDetail{
    list-style-type: circle;
    display: none;  
    margin-top: 1%;
}

.userDetail::after{
    content: "";
    border-width: 10px;
    border-style: solid;
    border-color:  transparent transparent black transparent ;
    position: absolute;
    right: 5%;
    bottom: 100%;
}

.user:hover .userDetail{
    display: block;
    background-color: black;
    position: absolute;
    right: 1%;
}
/*nav*/
nav{
    background-color: lightblue;
}
ul.menu{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul.menu>li{
    border-right: 1px solid white;
    
}

ul.menu>li:last-child{
    border: none;
}

ul.menu>li>a{
    text-decoration: none;
    display: block;
    padding: 1.5rem;
    
}
ul.menu>li>a:hover{
    background-color: darkblue;
    color: white;
}

.submenu{
    display: none !important;
}

.submenu::after{
    content: "";
    border-width: 10px;
    border-style: solid;
    border-color:  transparent transparent lightblue transparent ;
    position: absolute;
    left: 20%;
    bottom: 100%;
}

.sub:hover .submenu{
    position: absolute;
    background-color: lightblue;
    z-index: 2;
    display: flex !important;
}

.search{
    margin-right: 1rem;
    margin-left: 0;
}
.search>input{
    font-size: large;
}
.search>button{
    font-size: large;
}


/*footer*/
footer{
    background: url(../image/demo/bgFooter.jpeg);
    font-size: 20px;
    color: aliceblue;
}

.input{
    margin-bottom: var(--x);
}

textarea{
    width: 250px;
    height: 100px;
}

#select{
    width: 160px;
    height: 25px;
}
