/*Trang Index*/
*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
:root{
    --x: 10px;
}

/*header*/
.header{
    background-color: black;
    color: white;
}

h1.subject{
    text-transform: uppercase;
    text-shadow: 3px 2px 2px whitesmoke;
}
.header>ul>li{
    list-style-type: none;
    padding: var(--x);
}
/*nav*/
nav{
    background-color: lightblue;
}
ul.menu{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul.menu>li{
    border-right: 1px solid white;
}

ul.menu>li:last-child{
    border: none;
}

ul.menu>li>a{
    text-decoration: none;
    display: block;
    padding: 1.5rem;
}
ul.menu>li>a:hover{
    background-color: darkblue;
    color: white;
}

.submenu{
    display: none !important;
}

.submenu::after{
    content: "";
    border-width: 10px;
    border-style: solid;
    border-color:  transparent transparent lightblue transparent ;
    position: absolute;
    left: 20%;
    bottom: 100%;
}

.sub:hover .submenu{
    position: absolute;
    background-color: lightblue;
    z-index: 2;
    display: flex !important;
}

/*aside*/
.ads>div{
    width: 14%;
    background-color: darkcyan;
    color: white;
    text-align: center;
    padding: 8rem 0; /*để cho nó dọc*/
    border-radius: var(--x);
    margin-top: var(--x);
    position: fixed;
}
.ads>div:first-child{
    left: 0.5%;
}

.ads>div:last-child{
    right: 0.5%;
}


/*section*/
section.content{
    width: 70%;
    margin: var(--x) auto; /*căn giữa*/
}

.combo>a{
    width: 35%;
}

.combo>a:hover{
    transform: scale(1.1,1.2);
}

.combo>a>img{
    width: 100%;
    border-radius: 10%;
}

.description{
    padding: 1.5rem;
}

/*footer*/
footer{
    background-color: gray;
    font-size: 20px;
}

.input{
    margin-bottom: var(--x);
}

textarea{
    width: 250px;
    height: 100px;
}

#select{
    width: 160px;
    height: 25px;
}
