/*Gom header nav footer*/
*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1vw;
}
.flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
:root{
    --x: 1vw;
}

/*header*/

.header{
    background-color: black;
    color: white;
}

.header>img{
    width: 10%;
}

h1.subject{
    text-transform: uppercase;
    text-shadow: 3px 2px 2px whitesmoke;
    font-size: 2rem;
}
.header>ul>li{
    list-style-type: none;
    padding: var(--x);
    padding: 1rem;
    font-size: 1.5rem;
    margin-right: 1rem;
}
.header>ul>li:hover{
    background-color: darkgray;
}

.notice{
    list-style-type: square;
    display: none;  
    margin-top: 1%; 
}
.notice::after{
    content: "";
    border-width: 10px;
    border-style: solid;
    border-color:  transparent transparent black transparent ;
    position: absolute;
    right: 18%;
    bottom: 100%;
}

.notices:hover .notice{
    display: block;
    background-color: black;
    position: absolute;
    right: 1%;
}

.userDetail{
    list-style-type: circle;
    display: none;  
    margin-top: 1%;
}

.userDetail::after{
    content: "";
    border-width: 10px;
    border-style: solid;
    border-color:  transparent transparent black transparent ;
    position: absolute;
    right: 5%;
    bottom: 100%;
}

.user:hover .userDetail{
    display: block;
    background-color: black;
    position: absolute;
    right: 1%;
}
/*nav*/
nav{
    background-color: lightblue;
}
ul.menu{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul.menu>li{
    border-right: 1px solid white;
    
}

ul.menu>li:last-child{
    border: none;
}

ul.menu>li>a{
    text-decoration: none;
    display: block;
    padding: 1.5rem;
    
}
ul.menu>li>a:hover{
    background-color: darkblue;
    color: white;
}

.submenu{
    display: none !important;
}

.submenu::after{
    content: "";
    border-width: 10px;
    border-style: solid;
    border-color:  transparent transparent lightblue transparent ;
    position: absolute;
    left: 20%;
    bottom: 100%;
}

.sub:hover .submenu{
    position: absolute;
    background-color: lightblue;
    z-index: 2;
    display: flex !important;
}

.search{
    margin-right: 1rem;
    margin-left: 0;
}
.search>input{
    font-size: 1rem;
}
.search button{
    font-size: 1rem;
}


/*footer*/
.bgfooter{
    background: url(../image/demo/bgFooter.jpeg);
    background-color: black;
    margin: 0;
    padding: 0;
    font-size: 1.5rem;
    color: aliceblue;
    font-weight: bold;
}


.input{
    margin-bottom: var(--x);
}

textarea{
    width: 23vw;
    height: 10vh;
}

#type_cus{ /*select box*/
    width: 11.7vw;
    height: 3.5vh;
}

/*from*/
.show_form{
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 99;
    position: fixed;
    top: 10%;  
}
.form_confirm{
    border: 1px solid gray;
    background-color: white;
    width: 50%;
    margin: 0 auto;
    display: flex;
    padding-bottom: 1%;
    color: rgb(26, 22, 22);
    margin: 2% auto 2%;
}
.form_confirm>div:first-child,.form_confirm>div:last-child {
    width: 15%;
}


.form_confirm textarea{
    font-size: 1.5rem;
    align-items: center;
    width: 100%;
    border: none;
}

.form_main{
    width: 100%;
    position: relative;
}
.form_main>h2{
    text-align: center;
    color: blueviolet;
}
.name_object{
    font-weight: bold;
    padding: 1rem;
    border: 1px solid gray;
}
.name_info{
    padding: 1rem;
    border: 1px solid gray;
    left: 30%;
    width: 80%;
}

.form_main>p{
    font-weight: bold;
    color: brown;
}
.form_main #btn_confirm{
    border: 1px solid black;
    padding: 0;
    background-color: gray;
    font-size: large;
    font-weight: bold;
    width: 10%;
    text-align: center;
    margin-left: auto;
}

.hide{
    display: none;
}

/*dùng cho js gọi khi scroll*/
.nav{
    position: fixed !important;
    top: 0%;
    width: 100%;
    z-index: 100;
}

div.nav_mobile{
    display: none ;
}

/*view port*/
@media screen and (max-width: 600px) {


    footer iframe,h3{
        display: none;
    }

    .bgfooter{
        margin: 0 auto;
        text-align: center;
    }

    #type_cus{ /*select box*/
        width: initial;
        height: initial;
    }

    /*Sửa Menu*/

    #nav{
        display: none !important;
    }

    #nav_mobile{
        display: block !important;
        position: relative;
        
    }
    #nav_mobile>button{
        position: fixed;
        z-index: 10;
    }

    #nav_mobile  button{
        background-color: rgb(8, 23, 23);
        color: white;
        /* position: fixed; */
    }

    #nav_mobile  ul{
         position: fixed; 
        
        z-index: 2;
        background-color: rgba(11, 11, 11, 0.8);
        color: white;
    }

    #nav_mobile  ul li a{
        color: white !important;
    }

    
}