.flex{
    display: flex;
    flex-wrap: wrap;
}

nav{
    background: linear-gradient(blue, lightblue);
}

ul.menu{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul.menu>li:last-child{
    margin-left: auto;
    
}

ul.menu>li>a{
    text-decoration: none;
    display: block;
    padding: 1.5rem;
    color: whitesmoke;
    
}

ul.menu>li{
    border-left: 1px solid white;
}

ul.menu>li:last-child{
    border: none;
}

ul.menu>li>a:hover{
    background-color: darkblue;
}

/*main*/
.product{
    width: 25%;
    padding: 10px;
    box-sizing: border-box;
}
.product>div{
    background-color: aqua;
    border-radius: 10px;
    color: aliceblue;
    text-align: center;
    position: relative;
    padding: 5px;
}

.product img{
    width: 100%;
}

.price{
    color: black;
    background: rgba(157, 255, 0, 0.6);
    position: absolute;
    padding: 10px;
    top: 0;
    left: 0;
    border-radius: 10px 0;
}

.details{
    width: 70%;
    margin: 0 auto;
}

.details>div{
    width: 50%;
}

.left>img{
    width: 100%;
}

.detail img{
    width: 100%;
}

.thumb>img{
    width: 20%;
}

.red{
    color: red;
}

.info{
    border: 1px solid;
    border-radius: 10px;
    margin-top: 5px;
    padding: 5px;
}

.info.promo{
    border-color: red;
}
.buttons>button{
    width: 30px;
    height: 30px;
    border: 1px solid gray;
}

input[type=search]
{
    padding: 10px;
    margin-top: 5px;
    border: 1px solid blue;
}

/*footer*/
footer{
    background-color: aquamarine;
    padding: 1.5rem;
}

